[Unit]
Description=Api

[Service]
User=mongodb
WorkingDirectory=/home/mongodb
ExecStart=/home/mongodb/poolmanager-api/node index.js

[Install]
WantedBy=multi-user.target
