Description=api

Wants=network.target
After=syslog.target network-online.target

[Service]
User=mongo
WorkingDirectory=/home/mongo/poolmanage-ui
Type=simple
ExecStart=/usr/bin/ng s --host 0.0.0.0
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
